* {
    margin: 0;
    padding: 0;
}

.book-content {
    margin: 20px;
    position: relative;
    width: fit-content;
}

.book-graph svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.book-graph--item circle {
    cursor: nw-resize;
    stroke-width: 1;
    stroke: #000;
    fill: #fff;
    opacity: .8;
}

.book-graph--item.selected circle {
    fill: #f1d84a;
}


.book-graph--item rect {
    fill: #333;
    opacity: .3;
}